.spinner{
    border: 30px solid #f3f3f3;
    border-top: 30px solid orangered;
    border-bottom: 30px solid orangered;
    border-radius: 50%;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}