.center-div{
    position: relative;
    height: 100vh;
  }
  
  .card-body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .custom-card{
    position: absolute;
    left: 50%;
    margin-left: -125px;
    top: 25%;
    width: 300px;
  }
  
  .card-header { 
    display:flex;
    justify-content: center;
    color:white;
    background: linear-gradient(to right, #27bda4 70%, white);  
  }

  .card-header.reject {
      background: linear-gradient(to right, rgb(254,0,0) 70%, white)
  }
  
  .button-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    ;
  }
  
  #mainButton {
    margin: 0;
    width: 200px;
  }

