.card.response{
    /* margin: 75px;
     */
    width: 300px;
    font-family: "Roboto", sans-serif;
    animation-name: card-animation ;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(.78,.09,.55,1.36);
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes card-animation { 
    from {
        left: -100%;
    }
    to {
        left: 50%;
    }
}

.card-header {
    display:flex;
    justify-content: center;
    background-color: #27bda4;
    color: white;
    font-weight: bold;
}

.card-body.response {
    display: flex;
    justify-content: center;
}

.card-text.response {
    display: flex;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
}



