<div class="big-container">
  <div class="banner-image">
    <div class="content-header">
      <div class="spacer"></div>
      <h1>Get Pre-Approved <i>Today!</i></h1>      
    </div>
    <a href = "" [routerLink] = "['/reactive-form']"><button class = "btn btn-primary">Pre-Approval Application</button></a>
  </div> 
</div>
<div class="card-row">
    <div class="card">
        <!-- <img class = "card-img top" src = "" alt = ""> -->
        <div class="card-header"> Success Story 1 </div>
        <div class="card-body">
          <h3 class = "card-title">Secondary Title Here</h3>
          <p class="card-text">more stuff here</p>
        </div>
     </div>
     <div class="card">
        <!-- <img class = "card-img top" src = "" alt = ""> -->
        <div class="card-header"> Success Story 2</div>
        <div class="card-body">
          <h3 class = "card-title">Secondary Title Here</h3>
          <p class="card-text">more stuff here</p>
        </div>
     </div>
     <div class="card">
        <!-- <img class = "card-img top" src = "" alt = ""> -->
        <div class="card-header"> Success Story 3</div>
        <div class="card-body">
          <h3 class = "card-title">Secondary Title Here</h3>
          <p class="card-text">more stuff here</p>
        </div>
     </div>
</div>







