<div class="container">
  <div class="main-image">
    
  </div>
  <h3 class = 'main-title'>THIS IS HUUUUGE</h3>
  <section>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at ipsum placerat, accumsan diam varius, finibus elit. Aenean eget hendrerit ligula, a mollis elit. Vestibulum ac bibendum quam, vitae suscipit enim. Vestibulum lacinia nisl eget luctus tempus. Suspendisse egestas odio sit amet risus congue, ac elementum libero congue. Cras id lectus vel nunc maximus fermentum quis in quam. Donec in urna rutrum, laoreet metus at, fringilla eros. Duis lacinia urna sollicitudin ipsum eleifend dapibus. Duis non iaculis nisl, ac ultrices felis. In lobortis suscipit condimentum. Sed egestas felis vel tincidunt molestie. Etiam ultrices interdum gravida. Praesent ligula ipsum, lacinia ut fermentum quis, molestie ac nunc. Vestibulum sed eleifend augue. Pellentesque eget elit lacinia, scelerisque massa nec, sagittis ante.
      Aliquam molestie odio sit amet placerat egestas. Morbi congue faucibus nisl, ut laoreet sapien fermentum ac. Sed efficitur ultrices nibh ac sagittis. Duis ullamcorper vitae ex eget gravida. Suspendisse potenti. Mauris fringilla tristique blandit. Nullam et ante eu mauris aliquam luctus sed non lorem. Nam sit amet odio felis. Maecenas viverra erat ligula, quis auctor justo tincidunt quis. Morbi ullamcorper arcu elit, a sollicitudin quam suscipit vitae. Fusce ac enim lectus.
  </section>
</div>