.container-fluid {
    display: flex;
    justify-content: center;
    background: pink;
    min-height: 5000px;
}
/* 
.sample {
    display: inline-block;
    width: 150px;
    height: 150px;
    background: green;
} */

.main-image{
    /* height: 1000px; */
    /* position: absolute; */
    width: 100vw;
    height: 100vh;
    background-image: url('https://d2.alternativeto.net/dist/s/360-browser_553850_full.png?format=jpg&width=1600&height=1600&mode=min&upscale=false');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-position: 50% 50%; */

}

.main-title:hover {
    text-decoration: underline;
}

